.center-button{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
.center-button button{
    background-color: white;
    width: 100px;
    height: 40px;
    border: 3px solid #5fa8d3;
    border-radius: 15px;
}

.center-button button:hover{
    transform: scale(1.2);
    transition: all 0.3s linear;
}
.center-button button:active{
    transform: translateY(5px);
    border: none;
}

.pet-pdf-container{
    display: flex;
    justify-content: center;
    font-family: 'Grandstander';
}

.pdf-name{
    font-size: 20px;
    color: #5fa8d3;
}

.pdf-prop{
    color: #FF7851;
    font-size: large;
}

.pdf-prop span{
    color: #5fa8d3;
    font-weight: 700;
    font-size: large
    ;
}

.image{
    width: 300px;
    height: 300px;
}