.petform-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    font-family: 'Grandstander';
    font-size: x-large;
}

.petform-form-container{
    width:30%
}

.petform-form-container-search{
    width:50%
}

.petform-form{
    font-size: 20px;
    width: 100%;
    position: relative;
    height: 50px;   
    overflow: hidden;
}


.petform-form input{
    width: 100%;
    height: 100%;
    color: #595f6e;
    padding-top: 15px;
    border:none;
    outline: none;
    font-family: 'Grandstander'; 
}

.petform-form select{
    width: 100%;
    height: 100%;
    color: #595f6e;
    padding-top: 15px;
    border:none;
    outline: none;
}

.petform-form label {
    position: absolute;
    bottom: 0px;
    left: 0%;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 1px solid #FF7851;
    color: #FF7851;
    font-size: x-large;
}

.petform-form label::after {
    content: '';
    position: absolute;
    left: 0px;
    bottom: -1px;
    height: 100%;
    width: 100%;
    border-bottom: 3px solid rgb(94, 94, 184);
    transform: translateX(-100%);
    transition: all 0,3s ease;
}

.petform-form select::after {
    content: '';
    position: absolute;
    left: 0px;
    bottom: -1px;
    height: 100%;
    width: 100%;
    border-bottom: 3px solid rgb(94, 94, 184);
    transform: translateX(-100%);
    transition: all 0,3s ease;
}

.content-name{
    position: absolute;
    bottom: 5px;
    left: 0px;
    transition: transform 0.3s ease;
    font-family: 'Grandstander';
    font-size: 20px;
}

.petform-form input:focus + .label-name .content-name, .petform-form input:valid + .label-name .content-name{
    transform: translateY(-150%);
    font-size: 14px;
    color: #5fa8d3
}

.petform-form input:focus + .label-name::after, .petform-form input:valid + .label-name::after{
    transform: translateX(0%);
}

.petform-form select:focus + .label-name .content-name, .petform-form select:valid + .label-name .content-name{
    transform: translateY(-150%);
    font-size: 14px;
    color: #5fa8d3
}

.petform-form select:focus + .label-name::after, .petform-form select:valid + .label-name::after{
    transform: translateX(0%);
}


.petform-form-submit{
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
.petform-container-search{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    font-family: 'Grandstander';
    font-size: 20px;
    margin-top: 30px;
}

.submit{
    width: auto;
    height: 6vh;
    color: #5fa8d3;    
    font-family: 'Grandstander';
    font-size: 20px;
    background-color: white;
    border: 3px solid #5fa8d3 ;
    border-radius: 6px;
    text-shadow: 0 1px 0 #5fa8d3 ;
    padding: 5px 5px 5px 5px;
}

.submit:hover{
    transform: scale(1.1);
    transition: all 0.3s linear;
    background-color: #5fa8d3;
    color: white;
}
.submit:active{
    transform: translateY(5px);
}

.select{
    background-color: white;
    color: #5fa8d3;
    font-family: 'Grandstander';
    font-size: 15px;
}

.option-value{
    background-color: teal;
}