.mainImage {
    width: 100%;
    height: 100px;

    background-image: url("https://images.unsplash.com/photo-1581527106934-25bc16f1d310?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}