body{
    margin: 0;
}

.mainImage {
    width: 100%;
    height: 170px;
    background-image: url("https://images.unsplash.com/photo-1581527106934-25bc16f1d310?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.logo{
    position: absolute;
    width: 140px;
    height: 90px;
    margin: 0;
    padding: 0;
    background-image: url('./Images/logo.png') ;
    background-size: 100%;
    background-repeat: no-repeat;
}

.nav{
    height: 90px;
    display: flex;
    justify-content: flex-end;
    /* align-items: baseline; */
    background-color:#FF7851 ;
}

.link{
    align-self: center;
    padding-left: 2em;
    padding-right: 2em;
}



.linkbutton {
    background-color: #FF7851;
    color:white;
    font-family: 'Grandstander';
    font-size: large;
    font-weight: 900;
    height: 50px;
    border: 2px solid white;
    border-radius: 5px;
}

.linkbutton:hover {
    background-color: #ff7865;
    transition: 0.8s;
    transform: scale(1.2);
}

.verticalline{
    border-left: 2px solid white;
    height: 60px;
}

.useravatar {
    width: 100px;
    border: 3px solid white;
    border-radius: 50%;
}

.username {
    color:white;
    font-family: 'Grandstander';
    font-size: large;
}

.petbutton {
    color: #FF7851;
    background-color:white;
    font-family: 'Grandstander';
    font-size: large;
    font-weight: 900;
    height: 50px;
    border: 2px solid white;
    border-radius: 5px;
}
.petbutton:hover {
    transition: 0.8s;
    transform: scale(1.2);
}

.dropdown {
    font-family: 'Grandstander';
    font-size: large;
    background-color: #FF7851;
    color: #FF7851;
}

.showmap{
    margin-top: 150px;
}
.carousel1 {
    width: 200px;
    height: 200px;
    border: 0.1px solid white ;
    border-radius: 50%;
    padding: 1px;
}

.image-cropper {
    width: 200px;
    height: 200px;
    border: 0.1px solid white ;
    border-radius: 50%;
    background-color: white;
    overflow: hidden;
}


.profile-pic {
    transform: scale(1.1);
}

.carousel .slide{
    background-color: white;
}

.name {
    font-family: 'Grandstander';
    font-size: 30px;
    color: #5fa8d3 ;
}

.name:hover {
    transform: scale(1.3);
    transition: all, 0.3s;
}

.div-center{
    display: flex;
    justify-content: center;
}

.griddiv {
    margin-top: 5vh;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: center;
}
.grid-element{
    justify-self: center;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.petname {
    justify-content: center;
}

.lostpets{
    font-family: 'Grandstander';
    font-size: 30px;
    color: #FF7851;
    margin: 3% 43% 3% 43%;
}

.found {
    z-index: 1;
    position: absolute;
    margin: -40px;
    background-image: url(./Images/INFH.png);
    background-size: 120px;
    background-position: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.lost {
    z-index: 1;
    position: absolute;
    margin: -40px;
    background-image: url(./Images/SWH.png);
    background-size: 120px;
    background-position: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.returned {
    z-index: 1;
    position: absolute;
    margin: -40px;
    background-image: url(./Images/FWH.png);
    background-size: 120px;
    background-position: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.carousel2 {
    height: auto;
    margin: 0 auto;
    border-radius: 50%;
}

.grid-show-page{
    display: grid;
    grid-template-columns: 60% 40%;
}

.container{
    font-family: 'Grandstander';
    margin-left: 3%;
}

.marker-seen{
    color: seagreen;
}


.petshow-container{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
   
}

.petshow-left{
    margin-top: 10%;
    width: 100%;
    height: auto;
}
.petshow-right{
    width: 100%;
    height: auto;
}

.petshow-carousel{
    width: 70%;
    margin: 0 auto;
}
.petshow-carousel-image{
    border: 1px solid black;
    border-radius: 50%;
    padding: 1px ;
    overflow: hidden;
}



.pet-details{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #FF7851;
    font-family: 'Grandstander';
    font-size: large;
    margin-top: 0px;
    margin-bottom: 0px;
    border: 1px solid #FF7851;
    margin: 5%;
    height: auto;

}

.pet-details p {
    margin-bottom: 0;
}
.pet-details h2 {
    margin-bottom: 5px;
}

.pet-details h1 {
    margin-bottom: 5px;
}


.petshow-map-and-buttons-left{
    /* background-color: darkseagreen; */
    width: 100%;
    padding-left: 5%;
    height: auto;
}

.petshow-map-left{
    padding: 5%;
}
.petshow-map-left h1{
    text-align: center;
    color: #5fa8d3;
    font-family: 'Grandstander';
    font-size: 40px;
}

.petshow-map-and-buttons-right{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.petshow-map-and-buttons-right h2{
    color: #5fa8d3;
    font-family: 'Grandstander';
    font-size: 25px;
}

.petshow-button{
    background-color: #FF7851;
    border: none;
    border-radius: 3%;
    color: white;
    font-family: 'Grandstander';
    font-size: x-large;
    margin: 10px;
    width: 30vh;
    height:20%;
}

.petshow-button:hover{
    background-color: #ff7865;
    transition: 0.8s;
    transform: scale(1.2);
}

.hidden {
    display: none;
}

.petdetails-two-columns{
    display: grid;
    grid-template-columns: 50% 50%;
}

.petdetails-left-column{
    width: 100%;
    display:flex;
    justify-content: center;
}

.petdetails-right-column{
    width: 100%;
    display:flex;
    justify-content: center;
}
.petdetails-box{
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-top: 30px;
    padding-bottom: 30px;
}

.petdetails-box span{
    font-size: large;
    font-weight: 500;
    color: #5fa8d3;
}

.petdetails-box p{
    line-height: 2em;
}

.horizontal-line{
    border-bottom: 1px solid #ff7865;
    width: 90%;
    display: flex;
    align-self: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.petname{
    color: #5fa8d3;
    font-size: 80px;
}

.petshow-container-location{
    width: 100%;
}

.email-hidden{
    display: none;
}

.contact-form-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    font-family: 'Grandstander';
    font-size: x-large;
}

.contact-form-container h1{
    color: #5fa8d3;
    font-size: 40px;
}

.contact-form{
    width: 70%;
}

.contact-form input{
    border: none;
    border-bottom: 1px solid #5fa8d3;
    color: #5fa8d3;    
    font-family: 'Grandstander';
    font-size: 15px;
    border: 1px solid #5fa8d3;
    margin: auto;
}

.link-to-new{
    display: flex;
    justify-self: center;
    color: #5fa8d3;    
    font-family: 'Grandstander';
    font-size: 20px;
    text-decoration: none;
}
.center-div{
    display: flex;
    justify-content: center;
}

